#pic_3 {
    max-width: 30%;
    max-height: 30%;
}

#pic_4{
    max-width: 65%;
    max-height: 50%;
}

#pictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}