#element_1{
    text-align: right;
    vertical-align: center;
}
#pic_1 {
    max-width: 80%;
    max-height: 80%;
}

#element_2{
    text-align: center;
    vertical-align: bottom;
}
#pic_2 {
    max-width: 80%;
    max-height: 80%;
}

#element_3{
    text-align: left;
    vertical-align: bottom;
}
#pic_3 {
    max-width: 80%;
    max-height: 80%;
}

#element_4{
    text-align: right;
    vertical-align: center;
}
#pic_4{
    max-width: 80%;
    max-height: 80%;
}

#element_5{
    text-align: center;
    vertical-align: center;
}
#pic_5{
    max-width: 80%;
    max-height: 80%;
}

table {
    border: 1px solid white;
}